! special
*.foreground:   #c5c8c6
*.background:   #1d1f21
*.cursorColor:  #c5c8c6

! black
*.color0:       #282a2e
*.color8:       #373b41

! red
*.color1:       #a54242
*.color9:       #cc6666

! green
*.color2:       #8c9440
*.color10:      #b5bd68

! yellow
*.color3:       #de935f
*.color11:      #f0c674

! blue
*.color4:       #5f819d
*.color12:      #81a2be

! magenta
*.color5:       #85678f
*.color13:      #b294bb

! cyan
*.color6:       #5e8d87
*.color14:      #8abeb7

! white
*.color7:       #707880
*.color15:      #c5c8c6


Xft.dpi:                        109
URxvt*termName:                 rxvt-256color
URxvt*font:                     xft:Inconsolata:style=Regular:pixelsize=14
!URxvt*font:                     xft:Monospace:style=Regular:pixelsize=14
URxvt.depth:                    32
URxvt*lineSpace:                0
URxvt.letterSpace:              -1.5
URxvt.iso14755:                 false
URxvt.iso14755_52:              false
URxvt.scrollBar:                false
URxvt*loginShell:               true
URxvt.internalBorder:           15
URxvt.perl-ext-common:          default,clipboard
URxvt.keysym.Shift-Control-C:   perl:clipboard:copy
URxvt.keysym.Shift-Control-V:   perl:clipboard:paste
URxvt.clipboard.autocopy:       true
URxvt.geometry:                 120x42
!URxvt.keysym.Home:              \033[1~
!URxvt.keysym.End:               \033[4~
!URxvt.keysym.KP_Home:           \033[1~
!URxvt.keysym.KP_End:            \033[4~

rofi.color-enabled: true
rofi.fullscreen: false
rofi.padding: 80
rofi.opacity: 80
rofi.lines: 7
rofi.eh: 1.5
rofi.font: Roboto Bold 14
rofi.color-window: #393939, #393939, #268bd2
rofi.color-normal: #393939, #ffffff, #393939, #268bd2, #ffffff
rofi.color-active: #393939, #268bd2, #393939, #268bd2, #205171
rofi.color-urgent: #393939, #f3843d, #393939, #268bd2, #ffc39c

