! special
*.foreground:   #eceff1
*.background:   #263238
*.cursorColor:  #eceff1
! black
*.color0:       #263238
*.color8:       #37474f
! red
*.color1:       #ff9800
*.color9:       #ffa74d
! green
*.color2:       #8bc34a
*.color10:      #9ccc65
! yellow
*.color3:       #ffc107
*.color11:      #ffa000
! blue
*.color4:       #03a9f4
*.color12:      #81d4fa
! magenta
*.color5:       #e91e63
*.color13:      #ad1457
! cyan
*.color6:       #009688
*.color14:      #26a69a
! white
*.color7:       #cfd8dc
*.color15:      #eceff1

#define bg    #312e39
#define blk   #33303b
#define fg    #c0a79a
#define bblk  #4f4b58
#define red   #87404f
#define grn   #4c9882
#define ylw   #71949a
#define blu   #615772
#define mag   #783e57
#define cyn   #554757
#define wht   #c0a79a

Xft.dpi:                        109
URxvt*termName:                 rxvt-256color
URxvt*font:                     xft:Iosevka:style=Normal:pixelsize=13
URxvt.depth:                    32
URxvt*lineSpace:                0
URxvt.letterSpace:              0
URxvt.iso14755:                 false
URxvt.iso14755_52:              false
URxvt.scrollBar:                false
URxvt*loginShell:               true
URxvt.internalBorder:           15
URxvt.perl-ext-common:          default,clipboard
URxvt.keysym.Shift-Control-C:   perl:clipboard:copy
URxvt.keysym.Shift-Control-V:   perl:clipboard:paste
URxvt.clipboard.autocopy:       true
URxvt.geometry: 150x30+430+250

rofi.color-enabled: true
rofi.fullscreen: true
rofi.padding: 300
rofi.opacity: 80
rofi.lines: 5
rofi.eh: 1.5
rofi.font: Iovsenka Bold 14
rofi.color-window: #393939, #393939, #268bd2
rofi.color-normal: #393939, #ffffff, #393939, #268bd2, #ffffff
rofi.color-active: #393939, #268bd2, #393939, #268bd2, #205171
rofi.color-urgent: #393939, #f3843d, #393939, #268bd2, #ffc39c

