! special
*.foreground:   #e0e0e0
*.background:   #090300
*.cursorColor:  #e0e0e0
! black
*.color0:       #212121
*.color8:       #607d8b
! red
*.color1:       #f44336
*.color9:       #e91e63
! green
*.color2:       #673ab7
*.color10:      #4caf50
! yellow
*.color3:       #ffeb3b
*.color11:      #ffc107
! blue
*.color4:       #9c27b0
*.color12:      #3f51b5
! magenta
*.color5:       #ff9800
*.color13:      #2196f3
! cyan
*.color6:       #009688
*.color14:      #03a9f4
! white
*.color7:       #9e9e9e
*.color15:      #f7f7f7

Xft.dpi:                        109
URxvt*termName:                 rxvt-256color
URxvt*font:                     xft:Inconsolata:style=Regular:pixelsize=14
URxvt.depth:                    32
URxvt*lineSpace:                0
URxvt.letterSpace:              -1.5
URxvt.iso14755:                 false
URxvt.iso14755_52:              false
URxvt.scrollBar:                false
URxvt*loginShell:               true
URxvt.internalBorder:           10
URxvt.perl-ext-common:          default,matcher,url-select,keyboard-select,resize-font
!! url-select
URxvt.keysym.M-u:               perl:url-select:select_next
URxvt.url-select.launcher:      /usr/bin/xdg-open
URxvt.url-select.underline:     true
!! keyboard-select
URxvt.keysym.M-Escape:          perl:keyboard-select:activate
!! resize-font
!URxvt.resize-font.smaller:      C-j
!URxvt.resize-font.bigger:       C-k
! Defaults:
!URxvt.keysym.C-minus:           resize-font:smaller
!URxvt.keysym.C-plus:            resize-font:bigger
!URxvt.keysym.C-equal:           resize-font:reset
!URxvt.keysym.C-question:        resize-font:show
!! matcher, click on urls.
URxvt.url-launcher:             /usr/bin/xdg-open
URxvt.matcher.button:           1
!URxvt.keysym.Shift-Control-C:   perl:clipboard:copy
!URxvt.keysym.Shift-Control-V:   perl:clipboard:paste
!URxvt.clipboard.autocopy:       true
URxvt.geometry:                 120x42
!URxvt.keysym.Home:              \033[1~
!URxvt.keysym.End:               \033[4~
!URxvt.keysym.KP_Home:           \033[1~
!URxvt.keysym.KP_End:            \033[4~

rofi.color-enabled: true
rofi.fullscreen: false
rofi.padding: 80
rofi.opacity: 80
rofi.lines: 7
rofi.eh: 1.5
rofi.font: Roboto Bold 14
rofi.color-window: #393939, #393939, #268bd2
rofi.color-normal: #393939, #ffffff, #393939, #268bd2, #ffffff
rofi.color-active: #393939, #268bd2, #393939, #268bd2, #205171
rofi.color-urgent: #393939, #f3843d, #393939, #268bd2, #ffc39c

